@charset "UTF-8";
@keyframes modal-hide {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
@keyframes fade-In {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-Out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scale-In {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scale-Out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes bottom-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottom-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes top-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes top-Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes left-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(-10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes right-In {
  0% {
    display: flex;
    opacity: 0;
    z-index: 0;
  }
  1% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-Out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(10rem);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slideDownIn {
  0% {
    display: flex;
    opacity: 0;
  }
  1% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideDownOut {
  0% {
    top: 0;
    opacity: 1;
  }
  99% {
    top: -10rem;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes slideLeftIn {
  0% {
    display: flex;
  }
  1% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes slideLeftOut {
  0% {
    left: 0;
    opacity: 1;
  }
  99% {
    left: -100dvw;
    opacity: 1;
  }
  100% {
    left: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes slideRightIn {
  0% {
    display: flex;
  }
  1% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes slideRightOut {
  0% {
    right: 0;
    opacity: 1;
  }
  99% {
    right: -100dvw;
    opacity: 1;
  }
  100% {
    right: -100dvw;
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes show_toast {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide_toast {
  0% {
    transform: translateY(0);
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    margin-bottom: -5.2rem;
    opacity: 0;
  }
}
.scroll-not {
  overflow: hidden !important;
}

/* 기본 영역 z-index */
.area-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.area-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

.area-dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.area-dialog[data-area=body] {
  position: fixed;
}

.area-toast {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.area-toast[data-ps=bottom] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}

/* accordion */
[data-accordion] {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

[data-accordion-item] {
  display: flex;
  flex-direction: column;
}

[data-accordion-head] {
  position: relative;
  display: flex;
}
[data-accordion-head] a {
  position: relative;
  z-index: 2;
}

[data-accordion-button] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

[data-accordion-title] {
  position: relative;
  z-index: 0;
}

[data-accordion-body] {
  overflow: hidden;
}

/* dialog */
[data-dialog] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  pointer-events: visible;
}
[data-dialog][data-zindex="1"] {
  z-index: 1;
}
[data-dialog][data-zindex="2"] {
  z-index: 2;
}
[data-dialog][data-zindex="3"] {
  z-index: 3;
}
[data-dialog][data-zindex="4"] {
  z-index: 4;
}
[data-dialog][data-zindex="5"] {
  z-index: 5;
}
[data-dialog][data-zindex="6"] {
  z-index: 6;
}
[data-dialog][data-zindex="7"] {
  z-index: 7;
}
[data-dialog][data-zindex="8"] {
  z-index: 8;
}
[data-dialog][data-zindex="9"] {
  z-index: 9;
}
[data-dialog][data-zindex="10"] {
  z-index: 10;
}
[data-dialog][data-state=hide] {
  animation-name: modal-hide;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-state=hide] .dim {
  opacity: 0;
}
[data-dialog][data-state=hide][data-ps=center] [data-dialog-item=wrap] {
  animation-name: fade-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-state=hide][data-ps=bottom] [data-dialog-item=wrap] {
  animation-name: bottom-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-state=hide][data-ps=top] [data-dialog-item=wrap] {
  animation-name: top-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-state=hide][data-ps=left] [data-dialog-item=wrap] {
  animation-name: left-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-state=hide][data-ps=right] [data-dialog-item=wrap] {
  animation-name: right-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][aria-hidden=false] {
  display: flex;
}
[data-dialog][aria-hidden=false][data-current=true] .dim {
  opacity: 1;
}
[data-dialog][aria-hidden=false][data-ps=center] [data-dialog-item=wrap] {
  animation-name: fade-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][aria-hidden=false][data-ps=bottom] [data-dialog-item=wrap] {
  animation-name: bottom-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][aria-hidden=false][data-ps=top] [data-dialog-item=wrap] {
  animation-name: top-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][aria-hidden=false][data-ps=left] [data-dialog-item=wrap] {
  animation-name: left-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][aria-hidden=false][data-ps=right] [data-dialog-item=wrap] {
  animation-name: right-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=center] {
  justify-content: center;
  align-items: center;
}
[data-dialog][data-ps=center][aria-hidden=true] .project-dialog--item {
  animation-name: scale-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=center][aria-hidden=false] .project-dialog--item {
  animation-name: scale-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=bottom] {
  justify-content: center;
  align-items: flex-end;
}
[data-dialog][data-ps=bottom][aria-hidden=true] .project-dialog--item {
  animation-name: bottom-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=bottom][aria-hidden=false] .project-dialog--item {
  animation-name: bottom-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=top] {
  justify-content: center;
  align-items: flex-start;
}
[data-dialog][data-ps=top][aria-hidden=true] .project-dialog--item {
  animation-name: top-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=top][aria-hidden=false] .project-dialog--item {
  animation-name: top-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=left] {
  justify-content: flex-start;
  align-items: center;
}
[data-dialog][data-ps=left][aria-hidden=true] .project-dialog--item {
  animation-name: left-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=left][aria-hidden=false] .project-dialog--item {
  animation-name: left-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=right] {
  justify-content: flex-end;
  align-items: center;
}
[data-dialog][data-ps=right][aria-hidden=true] .project-dialog--item {
  animation-name: right-Out;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog][data-ps=right][aria-hidden=false] .project-dialog--item {
  animation-name: right-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
[data-dialog] [data-dialog-item=wrap]:focus {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
[data-dialog] [data-dialog-item=extend] {
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 0;
  left: 0;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-dialog] [data-dialog-item=extend]::after {
  content: "";
  display: block;
  width: 40%;
  height: 0.4rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: width 200ms ease;
}
[data-dialog] [data-dialog-item=extend]:active {
  cursor: grabbing;
}
[data-dialog] [data-dialog-item=extend]:active::after {
  width: 30%;
  height: 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

/* toast */
[data-type=toast] {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 0.8rem;
  top: auto;
  left: auto;
  max-width: calc(100% - 3.2rem);
  height: auto;
}

[data-type=toast][aria-hidden=false][data-ps=bottom] {
  animation-name: bottom-In;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* dropdown */
[data-dropdown] {
  position: relative;
}

[data-dropdown-button] {
  text-align: left;
  position: relative;
  z-index: 1;
}
[data-dropdown-panel] {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}
[data-dropdown-panel] [data-dropdown-section] {
  top: 100%;
}
[data-dropdown-panel][data-ps=bl] [data-dropdown-section] {
  top: 100%;
  bottom: auto;
  left: 0;
  right: auto;
}
[data-dropdown-panel][data-ps=bc] {
  justify-content: center;
}
[data-dropdown-panel][data-ps=bc] [data-dropdown-section] {
  top: 100%;
  bottom: auto;
  left: auto;
  right: auto;
}
[data-dropdown-panel][data-ps=br] [data-dropdown-section] {
  top: 100%;
  bottom: auto;
  left: auto;
  right: 0;
}
[data-dropdown-panel][data-ps=tl] [data-dropdown-section] {
  top: auto;
  bottom: 100%;
  left: 0;
  right: auto;
}
[data-dropdown-panel][data-ps=tc] {
  justify-content: center;
}
[data-dropdown-panel][data-ps=tc] [data-dropdown-section] {
  top: auto;
  bottom: 100%;
  left: auto;
  right: auto;
  transform: auto;
}
[data-dropdown-panel][data-ps=tr] [data-dropdown-section] {
  top: auto;
  bottom: 100%;
  left: auto;
  right: 0;
}
[data-dropdown-panel][data-ps=lt] [data-dropdown-section] {
  top: 0;
  bottom: auto;
  left: auto;
  right: 100%;
}
[data-dropdown-panel][data-ps=lc] {
  align-items: center;
}
[data-dropdown-panel][data-ps=lc] [data-dropdown-section] {
  top: auto;
  bottom: auto;
  left: auto;
  right: 100%;
}
[data-dropdown-panel][data-ps=lb] [data-dropdown-section] {
  top: auto;
  bottom: 0;
  left: auto;
  right: 100%;
}
[data-dropdown-panel][data-ps=rt] [data-dropdown-section] {
  top: 0;
  bottom: auto;
  left: 100%;
  right: auto;
}
[data-dropdown-panel][data-ps=rc] {
  align-items: center;
}
[data-dropdown-panel][data-ps=rc] [data-dropdown-section] {
  top: auto;
  bottom: auto;
  left: 100%;
  right: auto;
}
[data-dropdown-panel][data-ps=rb] [data-dropdown-section] {
  top: auto;
  bottom: 0;
  left: 100%;
  right: auto;
}
[data-dropdown-panel][aria-hidden=true] {
  display: none;
}
[data-dropdown-panel][aria-hidden=false] {
  display: flex;
}
[data-dropdown-panel]:hover {
  z-index: 1;
}

[data-dropdown-section] {
  padding: 0.2rem 0.8rem;
  overflow: hidden;
  position: absolute;
  pointer-events: visible;
}

/* selection */
[data-selection] {
  display: flex;
  flex-direction: column;
}

/* tab */
[data-tab] {
  display: flex;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[role=tablist] {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
[role=tablist] [role=tab] {
  display: flex;
  padding: 1.2rem;
  cursor: pointer;
  min-width: 10rem;
}

[role=tab][aria-selected=true] {
  font-weight: 700;
}

[role=tabpanel],
[role=tabpanel][aria-expanded=false] {
  display: none;
}

[role=tabpanel][aria-expanded=true] {
  display: block;
}

/* tooltip */
.tooltip {
  position: relative;
  font-size: 1.4rem;
}
.tooltip .offscreen {
  display: none;
}
.tooltip:focus .offscreen, .tooltip:hover .offscreen {
  display: flex;
}

.offscreen {
  display: flex;
  position: absolute;
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0.4rem;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 30rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
.offscreen::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9.58462V1H7L1 9.58462Z' fill='white'/%3E%3Cpath d='M1 1.27692V9.30769C1 9.30769 4.62872 4.41313 6.95385 1.27692' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.offscreen[data-ps=tl] {
  bottom: calc(100% + 1rem);
  left: -0.4rem;
}
.offscreen[data-ps=tl]::before {
  top: calc(100% - 0.1rem);
  left: 1.8rem;
}
.offscreen[data-ps=tc] {
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}
.offscreen[data-ps=tc]::before {
  top: calc(100% - 0.1rem);
  left: 50%;
  transform: translateX(-50%);
}
.offscreen[data-ps=tr] {
  bottom: calc(100% + 1rem);
  right: -0.4rem;
}
.offscreen[data-ps=tr]::before {
  top: calc(100% - 0.1rem);
  right: 1.8rem;
}
.offscreen[data-ps=bl] {
  top: calc(100% + 1rem);
  left: -0.4rem;
}
.offscreen[data-ps=bl]::before {
  bottom: calc(100% - 0.1rem);
  left: 1.8rem;
  transform: rotate(180deg);
}
.offscreen[data-ps=bc] {
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}
.offscreen[data-ps=bc]::before {
  bottom: calc(100% - 0.1rem);
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
.offscreen[data-ps=br] {
  top: calc(100% + 1rem);
  right: -0.4rem;
}
.offscreen[data-ps=br]::before {
  bottom: calc(100% - 0.1rem);
  right: 1.8rem;
  transform: rotate(180deg);
}
.offscreen[data-ps=lt] {
  right: calc(100% + 1rem);
  top: -0.4rem;
}
.offscreen[data-ps=lt]::before {
  top: 0.7rem;
  right: -0.8rem;
  transform: rotate(-90deg);
}
.offscreen[data-ps=lc] {
  right: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}
.offscreen[data-ps=lc]::before {
  top: calc(50% - 0.8rem);
  right: -0.8rem;
  transform: rotate(-90deg);
}
.offscreen[data-ps=lb] {
  right: calc(100% + 1rem);
  bottom: -0.4rem;
}
.offscreen[data-ps=lb]::before {
  bottom: 0.7rem;
  right: -0.8rem;
  transform: rotate(-90deg);
}
.offscreen[data-ps=rt] {
  left: calc(100% + 1rem);
  top: -0.4rem;
}
.offscreen[data-ps=rt]::before {
  top: 0.7rem;
  left: -0.8rem;
  transform: rotate(90deg);
}
.offscreen[data-ps=rc] {
  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}
.offscreen[data-ps=rc]::before {
  top: calc(50% - 0.4rem);
  left: -0.8rem;
  transform: rotate(90deg);
}
.offscreen[data-ps=rb] {
  left: calc(100% + 1rem);
  bottom: -0.4rem;
}
.offscreen[data-ps=rb]::before {
  bottom: 0.7rem;
  left: -0.8rem;
  transform: rotate(90deg);
}

[role=tooltip] {
  position: absolute;
  pointer-events: none;
}
[role=tooltip][aria-hidden=true] {
  display: none;
}

[data-tooltip-close] {
  pointer-events: visible;
}

[data-hover-nav-item][data-state=on] > [data-hover-nav-item] {
  display: block;
  animation-name: navShow;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

[data-hover-nav-item][data-state=off] > [data-hover-nav-item] {
  display: block;
  animation-name: navHide;
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes navShow {
  0% {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0rem);
  }
}
@keyframes navHide {
  0% {
    opacity: 1;
    transform: translate(-50%, 0rem);
  }
  99% {
    opacity: 0;
    transform: translate(-50%, 1rem);
  }
  100% {
    opacity: 0;
    display: none;
  }
}
[data-rangeslider-label] {
  position: absolute;
  top: -2.6rem;
  background: #333;
  padding: 0.4rem 1rem;
  border-radius: 99em;
  font-size: 1.2rem;
  color: #fff;
  font-family: "DINPro", "sans-serif";
  white-space: nowrap;
  pointer-events: none;
  font-weight: 700;
  transform: translateX(-50%);
}
[data-rangeslider-label]::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0.4rem solid #333;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

[data-rangeslider-text] {
  font-size: 1.2rem;
  font-weight: 700;
}

[data-rangeslider] {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
[data-rangeslider] input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 0.2rem;
  background: #fff;
  outline: none;
  background: linear-gradient(to right, #999 0%, #000 var(--percent), #c9c9c9 var(--percent), #eee 100%);
  padding: 0;
  margin: 0;
  border: none;
}
[data-rangeslider] input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  background: #888;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  border: 0.2rem solid #444;
}/*# sourceMappingURL=component.css.map */