.comparisonMap {display:grid;grid-template-columns:1fr auto 1fr;width:100%;height:100%; /* transition:grid-template-columns 0.05s linear; */}
.comparisonMap-map {width:100%;height:100%;position:relative;z-index:1;overflow:hidden;}
.comparisonMap-handle {width:1px;height:100%;background-color:#000;cursor:ew-resize;position:relative;z-index:2;outline:1px solid rgba(255,255,255,.3)}
.comparisonMap-handle-btn:hover {background-color:#006DE6;}
.comparisonMap-handle-btn:active {background-color:#002249;}
.comparisonMap-handle-btn {width:4.2rem;height:4.2rem;background-color:#0475F4;border:.3rem solid #FFF;border-radius:50%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);cursor:pointer;background-image:url("../images/icon/icon-aspect-link.svg");background-size:2rem 2rem;background-position:50% 50%;background-repeat:no-repeat;}
.map-options {display:flex;flex-direction:column;gap:.6rem;}
.full-map-top-area,
.full-map-left-area,
.full-map-right-area,
.full-map-bottom {z-index:1;}
.full-map-area {width:100%;height:100%;}
[data-toggle-target="map-compare"][data-toggle-state="selected"].full-map-left-area {top:auto;bottom:2rem}
[data-toggle-target="map-compare"][data-toggle-state="selected"] .map-options {display:none}
.full-map-left-area .full-map-right-group2 {align-items:start;}
.full-map-left-area .legend-gauge .legend-unit {left:auto;right:1.2rem}
.ui-range.is-vertical .ui-range-txt {width:3.2rem;}
.full-map-left-area .ui-range.is-vertical .ui-range-txt {top:calc(100% + 2.2rem);text-align:center;bottom:auto;}
.full-map-left-area .ui-range.is-vertical .ui-range-txt::after {left:-.3rem;right:auto;transform:rotate(-45deg);}
.full-map-left-area .legend-gauge,
.full-map-left-area .rangedual-box,
.full-map-left-area .legend-gauge-item {flex-direction:row-reverse;}
.full-map-left-area .rangedual-box .legend-gauge-num {text-align:left;width:1.6rem}
.full-map-left-area .full-map-right-group2,
.full-map-top-area[data-toggle-target="map-compare"][data-toggle-state="selected"],
.full-map-bottom-area[data-toggle-target="map-compare"][data-toggle-state="selected"],
[data-toggle-target="map-compare"] .comparisonMap {display:none;}
[data-toggle-target="map-compare"][data-toggle-state="selected"].full-map-left-area .full-map-right-group2 {display:flex;}
[data-toggle-target="map-compare"][data-toggle-state="selected"] .comparisonMap {position:absolute;top:0;left:0;width:100%;height:100%;display:grid;}
@media (max-width:1023px) {
  .full-map-top-area[data-toggle-target="map-compare"][data-toggle-state="selected"] {display:flex;z-index:10}
}
.comparisonMap .comparisonMap-map-selects {position:absolute;top:4rem;left:50%;transform:translateX(-50%);display:flex;gap:0.8rem;align-items:center;z-index:1;}
.comparisonMap-map-selects hr {width:1px;height:1.8rem;background:#DBE3F7;}
.form-fake-select {padding:0 3.7rem 0 1.7rem;color:#19213D;font-weight:700;background-color:#F4F8FF;border-radius:2.1rem;height:4.3rem;border:0;background-repeat:no-repeat;background-size:2rem 2rem;background-position:right 1.1rem center;background-image:url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2864' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2864)'%3E%3Cpath d='M9.71876 12.6978C9.62848 12.663 9.54862 12.6109 9.47917 12.5415L5.52084 8.58317C5.36806 8.43039 5.29514 8.25331 5.30209 8.05192C5.30903 7.85053 5.38889 7.67345 5.54167 7.52067C5.69445 7.36789 5.87153 7.2915 6.07292 7.2915C6.27431 7.2915 6.45139 7.36789 6.60417 7.52067L10 10.9373L13.4167 7.52067C13.5694 7.36789 13.7465 7.29498 13.9479 7.30192C14.1493 7.30887 14.3264 7.38873 14.4792 7.5415C14.6319 7.69428 14.7083 7.87137 14.7083 8.07275C14.7083 8.27414 14.6319 8.45123 14.4792 8.604L10.5208 12.5415C10.4514 12.6109 10.3715 12.663 10.2813 12.6978C10.191 12.7325 10.0972 12.7498 10 12.7498C9.90278 12.7498 9.80903 12.7325 9.71876 12.6978Z' fill='%2319213D'/%3E%3C/g%3E%3C/svg%3E%0A");}
.full-map-bottom-area {position:absolute;bottom:0;left:0;right:0;}
.time-range-control-area {display:flex;align-items:center;padding-left:1.8rem;gap:.7rem}
.timeRange {user-select:none;position:relative;height:9rem;padding-right:2rem;z-index:1;display:grid;align-items:center;grid-template-columns:auto 1fr;background-color:#181D2BBF;border-radius:0.4rem;gap:19.7rem;}
.timeRange-play {width:5.4rem;height:5.4rem;border-radius:99em;background-color:#181D2BCC;;background-image:url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2259' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2259)'%3E%3Cpath d='M8 17.1752V6.8252C8 6.54186 8.1 6.30436 8.3 6.1127C8.5 5.92103 8.73333 5.8252 9 5.8252C9.08333 5.8252 9.17083 5.8377 9.2625 5.8627C9.35417 5.8877 9.44167 5.9252 9.525 5.9752L17.675 11.1502C17.825 11.2502 17.9375 11.3752 18.0125 11.5252C18.0875 11.6752 18.125 11.8335 18.125 12.0002C18.125 12.1669 18.0875 12.3252 18.0125 12.4752C17.9375 12.6252 17.825 12.7502 17.675 12.8502L9.525 18.0252C9.44167 18.0752 9.35417 18.1127 9.2625 18.1377C9.17083 18.1627 9.08333 18.1752 9 18.1752C8.73333 18.1752 8.5 18.0794 8.3 17.8877C8.1 17.696 8 17.4585 8 17.1752Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");background-position:50% 50%;background-size:2.4rem 2.4rem;background-repeat:no-repeat;}
.timeRange-play[data-toggle-state="selected"] {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_5023_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5023_7)'%3E%3Cpath d='M6 7C6 6.44772 6.44772 6 7 6H9C9.55228 6 10 6.44772 10 7V17C10 17.5523 9.55228 18 9 18H7C6.44772 18 6 17.5523 6 17V7Z' fill='white'/%3E%3Cpath d='M14 7C14 6.44772 14.4477 6 15 6H17C17.5523 6 18 6.44772 18 7V17C18 17.5523 17.5523 18 17 18H15C14.4477 18 14 17.5523 14 17V7Z' fill='white'/%3E%3C/g%3E%3C!-- Code injected by live-server --%3E%3Cscript%3E // %3C!%5BCDATA%5B %3C-- For SVG support if ('WebSocket' in window) %7B (function () %7B function refreshCSS() %7B var sheets = %5B%5D.slice.call(document.getElementsByTagName('link')); var head = document.getElementsByTagName('head')%5B0%5D; for (var i = 0; i %3C sheets.length; ++i) %7B var elem = sheets%5Bi%5D; var parent = elem.parentElement %7C%7C head; parent.removeChild(elem); var rel = elem.rel; if (elem.href && typeof rel != 'string' %7C%7C rel.length == 0 %7C%7C rel.toLowerCase() == 'stylesheet') %7B var url = elem.href.replace(/(&%7C%5C%3F)_cacheOverride=%5Cd+/, ''); elem.href = url + (url.indexOf('%3F') %3E= 0 %3F '&' :'%3F') + '_cacheOverride=' + (new Date().valueOf()); %7D parent.appendChild(elem); %7D %7D var protocol = window.location.protocol === 'http:' %3F 'ws://' :'wss://'; var address = protocol + window.location.host + window.location.pathname + '/ws'; var socket = new WebSocket(address); socket.onmessage = function (msg) %7B if (msg.data == 'reload') window.location.reload(); else if (msg.data == 'refreshcss') refreshCSS(); %7D; if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) %7B console.log('Live reload enabled.'); sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true); %7D %7D)(); %7D else %7B console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.'); %7D // %5D%5D%3E%3C/script%3E%3C/svg%3E");}
.time-range-day {background-color:#fff;border:.2rem solid #19213D;border-radius:99em;height:3.6rem;display:flex;align-items:center;padding:0 .8rem 0 .8rem;font-size:1.4rem;font-weight:700;color:#19213D;gap:.6rem;width:13.6rem;position:absolute;left:-17rem;top:50%;transform:translateY(-50%);cursor:pointer;z-index:4;}
.time-range-day input{border:0;padding:0;width:9rem;outline:0;font-weight:700;font-size:1.4rem}
.time-range-day input[type="date"] {appearance:none;-webkit-appearance:none;-moz-appearance:textfield;background:none;}
.time-range-day input[type="date"]::-webkit-calendar-picker-indicator {opacity:0;-webkit-appearance:none;}
.time-range-day input[type="date"]::-webkit-clear-button,
.time-range-day input[type="date"]::-webkit-inner-spin-button {opacity:0;}
.timeRange-bar {display:flex;position:relative;height:0.6rem;}
.timeRange-bar::after {content:"";position:absolute;top:0;left:-4rem;height:100%;background-color:#0475F4;height:.6rem;width:4rem;}
.timeRange-line {position:absolute;top:0;left:0;right:0;background-color:#000;height:.6rem;pointer-events:none;display:grid;grid-template-columns:repeat(24, 1fr);z-index:1;}
.timeRange-hour {position:relative;display:grid;height:1.4rem;grid-template-columns:repeat(6, 1fr);}
.comparisonMap .timeRange-hour b {opacity:0;}
.comparisonMap .timeRange-hour:nth-child(2) b,
.comparisonMap .timeRange-hour:nth-child(5) b,
.comparisonMap .timeRange-hour:nth-child(8) b,
.comparisonMap .timeRange-hour:nth-child(11) b,
.comparisonMap .timeRange-hour:nth-child(14) b,
.comparisonMap .timeRange-hour:nth-child(17) b,
.comparisonMap .timeRange-hour:nth-child(20) b,
.comparisonMap .timeRange-hour:nth-child(23) b {opacity:1;}
.time-180 .timeRange-hour b {opacity:0;}
.time-180 .timeRange-hour:nth-child(2) b,
.time-180 .timeRange-hour:nth-child(5) b,
.time-180 .timeRange-hour:nth-child(8) b,
.time-180 .timeRange-hour:nth-child(11) b,
.time-180 .timeRange-hour:nth-child(14) b,
.time-180 .timeRange-hour:nth-child(17) b,
.time-180 .timeRange-hour:nth-child(20) b,
.time-180 .timeRange-hour:nth-child(23) b {opacity:1;}
.time-120 .timeRange-hour b {opacity:0;}
.time-120 .timeRange-hour:nth-child(2) b,
.time-120 .timeRange-hour:nth-child(4) b,
.time-120 .timeRange-hour:nth-child(6) b,
.time-120 .timeRange-hour:nth-child(8) b,
.time-120 .timeRange-hour:nth-child(10) b,
.time-120 .timeRange-hour:nth-child(12) b,
.time-120 .timeRange-hour:nth-child(14) b,
.time-120 .timeRange-hour:nth-child(16) b,
.time-120 .timeRange-hour:nth-child(18) b,
.time-120 .timeRange-hour:nth-child(20) b,
.time-120 .timeRange-hour:nth-child(22) b,
.time-120 .timeRange-hour:nth-child(24) b {opacity:1;}
[data-toggle-state="selected"] .time-10 .timeRange-hour b {opacity:0;}
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(2) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(5) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(8) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(11) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(14) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(17) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(20) b,
[data-toggle-state="selected"] .time-10 .timeRange-hour:nth-child(23) b {opacity:1;}
.timeRange-hour > hr {border-top:0;margin:0;width:1px;height:1rem;background-color:#000;}
.timeRange-hour > hr:first-child {height:1.6rem;}
.comparisonMap .timeRange-hour > b {font-size:1rem;}
.timeRange-hour > b {position:absolute;left:-1.8rem;top:1.8rem;color:#fff;font-size:1.2rem;font-weight:700;width:3.6rem;text-align:center;}
.timeRange-range {position:absolute;top:0;left:-.5rem;right:-.5rem;height:4.4rem;border:0;margin:0;padding:0;cursor:pointer;background:transparent;-webkit-appearance:none;}
.timeRange-range::-webkit-slider-thumb {-webkit-appearance:none;appearance:none;width:0;height:0;background:transparent;border:none;box-shadow:none;}
.timeRange-range::-moz-range-thumb {width:0;height:0;background:transparent;border:none;box-shadow:none;}
.timeRange-range::-ms-thumb {width:0;height:0;background:transparent;border:none;box-shadow:none;}
.timeRange-fake-input {position:absolute;top:0;left:0;right:0;height:4.4rem;pointer-events:none;z-index:2;}
.timeRange-fake-track {position:absolute;top:0;left:0;width:0;height:.6rem;background-color:#0475F4;border-radius:0rem;}
.timeRange-today {position:absolute;top:-3.5rem;right:0;color:#000;font-size:1rem;font-weight:700;width:4.8rem;background-color:#FFF;border-radius:0.3rem;padding:0rem;transform:translateX(2.4rem);}
.timeRange-today::before {content:'';display:block;position:absolute;bottom:-0.3rem;left:50%;transform:translateX(-50%) rotate(45deg);width:0.6rem;height:0.6rem;background-color:#FFF;}
.timeRange-today-text {position:relative;z-index:1;width:100%;background-color:#fff;display:flex;align-items:center;justify-content:center;font-size:1.2rem;font-weight:700;height:2.3rem;border-radius:0.6rem;}
.timeRange-fake-handle {position:absolute;width:3rem;top:-0.4rem;left:0;height:1.6rem;background:#fff;border-radius:0.8rem;transform:translateX(-1.5rem);cursor:pointer;display:flex;align-items:center;justify-content:center;padding:0; z-index:1;box-shadow:0 0 0 0.2rem rgba(255,255,255,0.2);}
.timeRange-fake-value {border:0.1rem solid #E5391C;background-color:#FE5639;display:block; width:1.4rem; height:0.4rem; border-radius:0.2rem;}
@media (max-width:1023px) {
  .timeRange{grid-template-columns:1fr;gap:0;width:100%;padding:0 2.6rem;align-items:start;border-radius:0;}
  .timeRange:before{content:"";position:absolute;top:0;left:0;right:0;height:0.6rem;background-color:#000;z-index:0;pointer-events:none;}
  .timeRange:after{content:"";position:absolute;top:0;left:0;width:1rem;height:0.6rem;background-color:#0475F4;z-index:0;pointer-events:none;}
  .time-range-control-area{position:absolute;bottom:0.7rem;right:1.5rem;}
  .time-range-day{position:absolute;bottom:0;top:auto;left:-1.1rem;transform: translateY(6.5rem);}
  .timeRange-line .timeRange-hour hr{display: none;}
  .timeRange-line .timeRange-hour hr:first-child{display: block;}
  .timeRange-line .timeRange-hour b{display:none;}
}
.side-content {position:relative;width:100%;height:100%;display:grid;grid-template-rows:auto 1fr;}
.base-wrap[data-toggle-target="side-content"][data-toggle-state="selected"] .side-content {box-shadow:0 0 1rem rgba(0, 0, 0, 0.1);}
.side-content-body {overflow-y:auto;position:relative}
.side-content-body-scroll {position:absolute;top:0;left:0;right:0;bottom:0;padding:1.5rem 2rem;}
.side-content-head {position:relative;display:grid;grid-template-columns:1fr auto;align-items:center;padding:2rem;border-bottom:1px solid #E8ECEF;min-width:86rem;box-shadow:0 .3rem 0 0 #001D6505;justify-content: space-between;}
.side-content-head-tit {display:flex;align-items:baseline;gap:1rem;}
.favorites-area {position:relative;align-self:center}
.favorites-area input {position:absolute;top:0;left:0;cursor:pointer;opacity:0}
.favorites-area label {display:flex;width:3.6rem;height:3.6rem;background-color:#F4F7FF;border-radius:99em;align-items:center;justify-content:center;cursor:pointer}
.favorites-area label:before {content:'';width:2.4rem;height:2.4rem;background:url("../images/icon/icon-aspect-star.svg") no-repeat 50% 50% / contain}
.favorites-area input:checked + label:before {background-image:url("../images/icon/icon-aspect-star-on.svg")}
.side-content-head-tit-name {font-size:2.4rem;font-weight:700;color:#19213D;}
.side-content-head-tit-div {color:#DBE3F7;}
.side-content-head-tit-info {font-size:1.4rem;color:#6D758F;}
.table-update-content {text-align:right;font-size:1.4rem;color:#6D758F;font-weight:400}
.table-update-content-title {font-weight:700;color:#19213D;padding-right:10px}
@media (max-width:1023px) {
  .side-content {z-index:20;background-color:#fff;display:flex;flex-direction:column}
  .side-content > div{width:100vw}
  .side-content-search-area {flex-shrink:0;background-color:#F6F7FB;padding:1.5rem;display:flex;gap:.6rem}
  .side-content-search-area .full-map-sh-box {width:calc(100% - 5.4rem)}
  .side-content-search-area .btn-base {flex-shrink:0}
  .side-content-head {flex-shrink:0}
  .side-content-body {flex:1}
  .side-content-head {min-width:100%;display:flex}
  .side-content-head-tit {flex-wrap:wrap;gap:.6rem 1rem}
  .side-content-head-tit-div {display:none}
  .side-content-head-tit-info {word-break:break-all;width:100%}
  .side-content-close {align-self:flex-start;margin-top:.4rem}
  .table-update-content {font-size:1.2rem;text-align:left}
}
.weather-table-box {overflow-x:auto;overflow-y:hidden;display:flex;margin-top:.8rem;position:relative}
.weather-table-sticky {position:sticky;left:0;width:9.7rem;flex-shrink:0;background-color:#fff;z-index:2;border-right:.1rem solid #201F3B;}
.weather-col-group {border-top:.2rem solid #201F3B;border-bottom:.1rem solid #201F3B;display:flex;flex-direction:column}
.weather-col-group-top {font-size:1.2rem;font-weight:800;color:#19213D;display:flex;align-items:center;justify-content:center;height:4rem;border-bottom:.1rem solid #201F3B;flex-direction:column}
.weather-col-group-item {font-size:1.2rem;font-weight:800;color:#19213D;display:flex;align-items:center;justify-content:center;height:3.6rem;flex-direction:column}
.weather-col-group-item.h-55 {height:5.5rem}
.weather-col-group-item.h-52 {height:5.2rem}
.weather-col-group-item ~ .weather-col-group-item {border-top:.1rem solid #E8ECEF}
.weather-table-sticky .weather-col-group-top,
.weather-table-sticky .weather-col-group-item {align-items:flex-end;color:#6D758F;padding-right:1.5rem}
.weather-col-section {display:flex;flex-shrink:0}
.weather-col-section~.weather-col-section {border-left:.1rem solid #201F3B}
.weather-col-section .weather-col-group {width:6.2rem}
.weather-col-section .weather-col-group:hover .weather-col-group-top,
.weather-col-section .weather-col-group:hover .weather-col-group-item {background-color:#F8FBFF}
.weather-col-section .day-start {height:2.7rem;box-shadow:0 .1rem .1rem 0 #0000001A;border-radius:99em;width:4.6rem;display:flex;align-items:center;justify-content:center;background-color:#2E7EF6;border:.1rem solid #2778F0;color:#fff;}
[data-rotate="15"] {transform:rotate(15deg)}
[data-rotate="30"] {transform:rotate(30deg)}
[data-rotate="45"] {transform:rotate(45deg)}
[data-rotate="60"] {transform:rotate(60deg)}
[data-rotate="75"] {transform:rotate(75deg)}
[data-rotate="90"] {transform:rotate(90deg)}
[data-rotate="105"] {transform:rotate(105deg)}
[data-rotate="120"] {transform:rotate(120deg)}
[data-rotate="135"] {transform:rotate(135deg)}
[data-rotate="150"] {transform:rotate(150deg)}
[data-rotate="165"] {transform:rotate(165deg)}
[data-rotate="180"] {transform:rotate(180deg)}
[data-rotate="195"] {transform:rotate(195deg)}
[data-rotate="210"] {transform:rotate(210deg)}
[data-rotate="225"] {transform:rotate(225deg)}
[data-rotate="240"] {transform:rotate(240deg)}
[data-rotate="255"] {transform:rotate(255deg)}
[data-rotate="270"] {transform:rotate(270deg)}
[data-rotate="285"] {transform:rotate(285deg)}
[data-rotate="300"] {transform:rotate(300deg)}
[data-rotate="315"] {transform:rotate(315deg)}
[data-rotate="330"] {transform:rotate(330deg)}
[data-rotate="345"] {transform:rotate(345deg)}

[data-comparison-left="main"] .sample-dim {content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(255, 24, 24, 0.3);z-index:0;}
[data-comparison-right="main"] .sample-dim {content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(84, 8, 226, 0.3);z-index:0;}

.data-source-box-wrap {justify-content:flex-end}
.data-source-box {border:.1rem solid #E8ECEF;border-radius:.4rem;height:4.8rem;display:flex;align-items:center;gap:1.5rem;padding:0 1.6rem}
.data-source-line {width:.1rem;height:2.4rem;background-color:#F0F0F5}
.data-source-img {display:block;height:3.6rem}
@media (max-width:1023px) {
  .weather-table-box {margin-right:-2rem}
  .data-source-box-wrap {justify-content:center}
}