/* dropdown */
[data-dropdown] {
  position: relative;
}

[data-dropdown-button] {
  text-align: left;
  position: relative;
  z-index: 1;

  &[aria-expanded] {
    // border: 0.1rem solid #000;
    // padding: 0.2rem 0.8rem;
    // border-radius: 0.4rem;
  }
}

[data-dropdown-panel] {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;

  [data-dropdown-section] {
    top: 100%
  }

  &[data-ps="bl"] [data-dropdown-section] {
    top: 100%;
    bottom: auto;
    left:0;
    right: auto;
  }
  &[data-ps="bc"] {justify-content: center}
  &[data-ps="bc"] [data-dropdown-section] {
    top: 100%;
    bottom: auto;
    left: auto;
    right: auto;
  }
  &[data-ps="br"] [data-dropdown-section] {
    top: 100%;
    bottom: auto;
    left:auto;
    right: 0;
  }
  &[data-ps="tl"] [data-dropdown-section] {
    top: auto;
    bottom: 100%;
    left:0;
    right: auto;
  }
  &[data-ps="tc"] {justify-content: center}
  &[data-ps="tc"] [data-dropdown-section] {
    top: auto;
    bottom: 100%;
    left: auto;
    right: auto;
    transform: auto;
  }
  &[data-ps="tr"] [data-dropdown-section] {
    top: auto;
    bottom: 100%;
    left:auto;
    right: 0;
  }

  &[data-ps="lt"] [data-dropdown-section] {
    top: 0;
    bottom: auto;
    left: auto;
    right: 100%;
  }

  &[data-ps="lc"] {align-items: center;}
  &[data-ps="lc"] [data-dropdown-section] {
    top: auto;
    bottom: auto;
    left: auto;
    right: 100%;
  }
  &[data-ps="lb"] [data-dropdown-section] {
    top: auto;
    bottom: 0;
    left: auto;
    right: 100%;
  }
   &[data-ps="rt"] [data-dropdown-section] {
    top: 0;
    bottom: auto;
    left: 100%;
    right: auto;
  }
  &[data-ps="rc"] {align-items: center;}
  &[data-ps="rc"] [data-dropdown-section] {
    top: auto;
    bottom: auto;
    left: 100%;
    right: auto;
  }
  &[data-ps="rb"] [data-dropdown-section] {
    top: auto;
    bottom: 0;
    left: 100%;
    right: auto;
  }

  &[aria-hidden="true"] {
    display: none;
  }
  &[aria-hidden="false"] {
    display: flex;
  }

  &:hover {
    z-index: 1;
  }
}

[data-dropdown-section] {
  padding: 0.2rem 0.8rem;
  overflow: hidden;
  position: absolute;
  pointer-events: visible;
}