/* tab */
[data-tab] {
  display: flex;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth; 
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
[role="tablist"] {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;

  [role="tab"] {
    display: flex;
    padding: 1.2rem;
    cursor: pointer;
  }
}

[role="tab"][aria-selected="true"] {
  font-weight: 700;
}

[role="tabpanel"],
[role="tabpanel"][aria-expanded="false"] {
  display: none;
}
[role="tabpanel"][aria-expanded="true"] {
  display: block;
}
