/* tooltip */
.tooltip {
  position: relative;
  font-size: 1.4rem;

  .offscreen {
    display: none;
  }

  &:focus .offscreen,
  &:hover .offscreen {
    display: flex;
  }
}

.offscreen {
  display: flex;
  position: absolute;
  padding: .4rem .8rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: .4rem;
  width: max-content;
  height: max-content;
  max-width: 30rem;
  box-shadow: 0 0.2rem .4rem rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;

  &::before {
    content: "";
    position: absolute;
    width: .8rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9.58462V1H7L1 9.58462Z' fill='white'/%3E%3Cpath d='M1 1.27692V9.30769C1 9.30769 4.62872 4.41313 6.95385 1.27692' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &[data-ps="tl"] {
    bottom: calc(100% + 1rem);
    left: -0.4rem;
  }

  &[data-ps="tl"]::before {
    top: calc(100% - 0.1rem);
    left: 1.8rem;
  }

  &[data-ps="tc"] {
    bottom: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-ps="tc"]::before {
    top: calc(100% - 0.1rem);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-ps="tr"] {
    bottom: calc(100% + 1rem);
    right: -0.4rem;
  }

  &[data-ps="tr"]::before {
    top: calc(100% - 0.1rem);
    right: 1.8rem;
  }

  &[data-ps="bl"] {
    top: calc(100% + 1rem);
    left: -0.4rem;
  }

  &[data-ps="bl"]::before {
    bottom: calc(100% - 0.1rem);
    left: 1.8rem;
    transform: rotate(180deg);
  }

  &[data-ps="bc"] {
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-ps="bc"]::before {
    bottom: calc(100% - 0.1rem);
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }

  &[data-ps="br"] {
    top: calc(100% + 1rem);
    right: -0.4rem;
  }

  &[data-ps="br"]::before {
    bottom: calc(100% - 0.1rem);
    right: 1.8rem;
    transform: rotate(180deg);
  }

  &[data-ps="lt"] {
    right: calc(100% + 1rem);
    top: -0.4rem;
  }

  &[data-ps="lt"]::before {
    top: 0.7rem;
    right: -0.8rem;
    transform: rotate(-90deg);
  }

  &[data-ps="lc"] {
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-ps="lc"]::before {
    top: calc(50% - .8rem);
    right: -0.8rem;
    transform: rotate(-90deg);
  }

  &[data-ps="lb"] {
    right: calc(100% + 1rem);
    bottom: -0.4rem;
  }

  &[data-ps="lb"]::before {
    bottom: 0.7rem;
    right: - 0.8rem;
    transform: rotate(-90deg);
  }

  &[data-ps="rt"] {
    left: calc(100% + 1rem);
    top: -0.4rem;
  }

  &[data-ps="rt"]::before {
    top: 0.7rem;
    left: -0.8rem;
    transform: rotate(90deg);
  }

  &[data-ps="rc"] {
    left: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-ps="rc"]::before {
    top: calc(50% - .4rem);
    left: -0.8rem;
    transform: rotate(90deg);
  }

  &[data-ps="rb"] {
    left: calc(100% + 1rem);
    bottom: -0.4rem;
  }

  &[data-ps="rb"]::before {
    bottom: 0.7rem;
    left: -0.8rem;
    transform: rotate(90deg);
  }
}

[role="tooltip"] {
  position: absolute;
  pointer-events: none;

  &[aria-hidden="true"] {
    display: none;
  }
}

[data-tooltip-close] {
  pointer-events: visible;
}